.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* S'assure que le modal est au-dessus des autres éléments */
}

.modal-content {
  background-color: white; /* Fond du modal */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Ombre pour donner de la profondeur */
  /* width: 600px; */
  padding: 20px; /* Espacement interne */
  position: relative; /* Position relative pour le bouton de fermeture */
  padding-bottom: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between; /* Alignement de l'en-tête */
  align-items: center; /* Alignement vertical */
}

.modal-body {
  margin-top: 10px; /* Marge entre l'en-tête et le corps */
}

.close-button {
  background: none; /* Pas de fond */
  border: none; /* Pas de bordure */
  font-size: 24px;
  cursor: pointer; /* Curseur pointer pour l'interaction */
  color: #333;
}

.close-button:hover {
  color: red; 
}
