
/* ********* FOOTER ********* */
/* footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > a {
  color: #fff;
  text-decoration: none;
  margin: 20px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
} */