.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1; /* Prend tout l'espace disponible */
  transition: margin-left 0.3s ease; /* Animation fluide pour les déplacements */
  width: 100%;
}

.main-content {
  flex: 1; /* Prend tout l'espace disponible après le SideNav */
  padding: 10px; /* Espace intérieur */
  overflow-y: auto; /* Permet le défilement si le contenu dépasse la hauteur */
  width: 100%;
  /* grid-area: main; */
  transition: margin-left 0.3s ease; /* Animation fluide pour le contenu */
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

}

/* Styles pour le Sidenav */
.sidenav {
  width: 300px; /* Largeur fixe pour le Sidenav */
  transition: width 0.3s ease; /* Transition fluide pour l'ouverture du SideNav */
  overflow-x: hidden;
  white-space: nowrap;
  /* grid-area: sidenav; */
}

.sidenav.closed {
  width: 0; /* Réduit la largeur à 0 quand le Sidenav est fermé */
}

.main-content.sidenav-open {
  margin-left: 300px; /* Décalage du contenu principal lorsque le SideNav est ouvert */
}

.main-content.sidenav-closed {
   width: 100%; /* Décalage du contenu principal lorsque le SideNav est fermé */
}


.container.sidenav-open {
  margin-left: 300px;/* Décalage du contenu principal lorsque le SideNav est fermé */
 }

.container.sidenav-closed {
 width: 100%; /* Décalage du contenu principal lorsque le SideNav est fermé */
}

.header.sidenav-closed {
    width: 100%; /* Décalage du header lorsque le SideNav est fermé */
}

.header.sidenav-open {
  margin-left: 300px; /* Décalage du header lorsque le SideNav est ouvert */
}

/* Responsive: Sidenav caché sur petits écrans */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Empile le Sidenav au-dessus du contenu principal */
  }

  .sidenav {
    width: 0; /* Réduit la largeur à 0 quand le Sidenav est caché */
    flex: 1;
  }

  .sidenav.open {
    width: 100%; /* Le SideNav occupe toute la largeur sur petits écrans */
  }

  .container.sidenav-open {
    margin-left: 0; /* Pas de décalage sur petits écrans */
  }

  .header.sidenav-open {
    margin-left: 0; /* Pas de décalage sur petits écrans */
  }
  .main-content{
    flex-direction: column;
  }
}
