.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  width: 300px;
  height: 100%;
  background-color: #111827;
  color: white;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidenav.closed {
  transform: translateX(-250px);
}

.sidenav.open {
  transform: translateX(0);
}

.logoSidenav {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSidenav img {
  width: 150px;
  max-width: 150px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-btn {
  background-color: #111827;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: block;
}
.nav-links {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer les éléments verticalement */
  align-items: center; /* Centrer les éléments horizontalement */
}

.nav-links a,
.accordion-header {
  display: flex;
  align-items: center; /* Alignement vertical des icônes et du texte */
  gap: 10px; /* Espacement entre l'icône et le texte */
  color: white;
  text-decoration: none;
  padding: 10px 15px; /* Ajout de marges internes */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: relative;
  justify-content: center; /* Centrer le contenu horizontalement */
}

.nav-links a:hover,
.accordion-header:hover {
  background-color: #7a7b7c;
}

.nav-links a .icon,
.accordion-header .icon {
  font-size: 18px; /* Taille uniforme des icônes */
  margin-left: 10px; /* Ajout d'une marge à gauche */
  margin-right: 0; /* Suppression de la marge à droite */
  color: #fff; /* Couleur des icônes */
}

.custom-dropdown-menu {
  padding-left: 40px;
  overflow: hidden;
  max-height: 0; /* Initialement masqué */
  transition: max-height 0.3s ease-out;
}

.accordion-item.open .custom-dropdown-menu {
  max-height: 500px; /* Expansion pour afficher les éléments */
}

.accordion-item {
  display: flex;
  flex-direction: column;
}

.accordion-header {
  cursor: pointer;
  padding: 10px 15px;
}

.custom-dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-dropdown-menu li {
  margin: 5px 0;
}

.custom-dropdown-menu li a {
  color: white;
  text-decoration: none;
  padding: 5px 0;
}

.custom-dropdown-menu li a:hover {
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .sidenav {
    display: none;
    transition: left 0.3s ease;
  }
}
