/* src/components/Layout/SideNav.css */

/* .sidenav {
    position: fixed;
    left: 0;
    top: 0; */
    /* width: 300px; */
    /* height: 100%; */
    /* background-color: #1b1f24; */
    /* background-color: #111827;
    color: white;
    font: italic;
    transition: transform 0.3s ease;
    z-index: 1000;
  } */
  
  /* .sidenav.closed {
    transform: translateX(-250px);
  }
  
  .sidenav.open {
    transform: translateX(0);
  } */

  .sidenav {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto; /* Si le contenu du sidenav dépasse, autoriser uniquement le scroll interne */
    width: 250px; /* Définir une largeur fixe pour le menu latéral */
    height: 100%;
    background-color: #111827;
    color: white;
    transition: transform 0.3s ease;
    z-index: 1000; /* S'assurer que le SideNav est derrière le bouton */
  }
  
  .sidenav.closed {
    transform: translateX(-250px);
  }
  
  .sidenav.open {
    transform: translateX(0);
  }
  
  
  .logoSidenav{
  margin-top: 2rem;
  }

  .menu-btn {
    background-color: #111827;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: block;
  }
  
  .sidenav .menu-btn{
   display: block;
  }
  .nav-links {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    overflow: hidden;
    transition: all 0.5s;
  }
  
  .nav-links a:hover {
    /* background-color: #495057; */
    border-radius: 5px;
    border-color: transparent;
    background: linear-gradient(
      90deg,
      #7a7b7c,
      #696d6c,
      #636566,
      #9c9c9ca8,
      #7e7d7d,
      #b8b8b8
    );
    background-size: 400%;
    /* box-shadow: 0 0 15px rgb(2, 4, 24); */
    /* animation: glow 12s linear forwards; */
    /* margin: 1rem; */
  }

  
  .nav-links a::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
  background: inherit;
  filter: blur(36px);
  z-index: -1;
  opacity: 0;
  /* transition: 0.5s ease-out; */
}

/* @keyframes glow {
  from {
    background-position: 0%;
  }
  to {
    background-position: 400%;
  }
} */

  @media (max-width: 991.98px) {
    .sidenav {
      /* width: 100%; */
      display: none;
      transition: left 0.3s ease; /* Animation fluide du déplacement */

    }
  }



  /* .nav-links a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #333;
  } */
  
  .nav-links a .icon {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .logoSidenav {
    margin-top: 1rem; /* Espace en haut */
    display: flex; /* Pour centrer l'image si besoin */
    justify-content: center; /* Centre l'image horizontalement */
  }
  
  .logoSidenav img {
    width: 80px; /* Ajuste la largeur de l'image à 80% de la largeur de son conteneur */
    max-width: 100px; /* Limite la largeur maximale de l'image */
    height: auto; /* Garde les proportions de l'image */
    border-radius: 5px; /* Arrondir les coins de l'image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour un effet 3D */
    height: 3rem;
  }
  