/* Conteneur du tableau pour permettre un défilement horizontal */
.table-container {
  width: 100%;
  overflow-x: auto; /* Permet un défilement horizontal */
  -webkit-overflow-scrolling: touch; /* Amélioration pour iOS/Android */
  margin: 0 auto; /* Centre le tableau dans le conteneur */
}

/* Style principal du tableau */
.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgb(190, 190, 194);
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
}

/* Cellules du tableau */
.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #eaeaea;
  background-color: #ffffff;
}

.table th {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

.table tbody tr {
  font-size: 13px;
}

.table tr:hover {
  background-color: #f9f9f9;
  transition: background-color 0.2s;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  background-color: #59595c;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #4b4b4e;
}

.pagination select {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Responsive - pour les petits écrans */
@media (max-width: 768px) {
  .table-container {
    padding: 0 10px; /* Ajout d'un padding pour éviter que le tableau ne touche les bords */
  }

  .pagination {
    justify-content: center; /* Pagination centrée */
    flex-wrap: wrap;
  }

  .pagination button {
    font-size: 10px;
    padding: 3px 6px;
  }

  .pagination select {
    font-size: 10px;
    padding: 3px;
  }
}
