.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgb(190, 190, 194);
  border-radius: 8px; /* Coins arrondis */
  overflow: hidden; /* Cache les débordements */
}

/* .table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ffffff;
} */

/* .table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
} */

.table tr:hover {
  background-color: #ffffff;
   /* Couleur de fond lors du survol */
  transition: background-color 0.2s; 
  /* Ajout d'une transition */
}

  /* Couleur de fond pour les lignes impaires */
.table .table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff; 
}

  /* Couleur de fond pour les lignes paires */
.table .table-striped tbody tr:nth-of-type(even) {
  background-color: #ffffff; 

}

.pagination {
  display: flex;
  justify-content: flex-end; /* Alignement à droite */
  margin-top: 20px;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.pagination button {
  margin: 0 3px; /* Réduire l'espacement entre les boutons */
  padding: 3px 6px; /* Réduire le padding pour rendre les boutons plus petits */
  font-size: 12px; /* Réduire la taille de la police */
  cursor: pointer;
  border: none; /* Suppression des bordures par défaut */
  background-color: #59595c; /* Couleur de fond des boutons */
  color: white; /* Couleur du texte */
  border-radius: 4px; /* Coins arrondis */
  transition: background-color 0.3s; /* Ajout d'une transition */
}

.pagination button:hover {
  background-color: #59595c; /* Couleur de fond lors du survol */
}

.pagination select {
  margin-left: 10px;
  padding: 3px; /* Réduire le padding du sélecteur */
  font-size: 12px; /* Réduire la taille de la police pour le sélecteur */
  border-radius: 4px; /* Coins arrondis pour le sélecteur */
  border: 1px solid #ccc; /* Bordure du sélecteur */
}
