.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgb(190, 190, 194);
  border-radius: 8px; /* Coins arrondis */
  overflow: hidden; /* Cache les débordements */
}

.table th,
.table td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff; /* Couleur de fond blanche pour toutes les cellules */
}

.table th {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

/* Couleur de fond uniforme pour toutes les lignes */
.table tbody tr {
  background-color: #ffffff; /* Toutes les lignes en blanc */
}

.table tr:hover {
  background-color: #f9f9f9; /* Couleur de fond plus claire lors du survol */
  transition: background-color 0.2s; /* Ajout d'une transition */
}

/* Style pour la pagination */
.pagination {
  display: flex;
  justify-content: flex-end; /* Alignement à droite */
  margin-top: 20px;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.pagination button {
  margin: 0 3px; /* Réduire l'espacement entre les boutons */
  padding: 3px 6px; /* Réduire le padding pour rendre les boutons plus petits */
  font-size: 12px; /* Réduire la taille de la police */
  cursor: pointer;
  border: none; /* Suppression des bordures par défaut */
  background-color: #59595c; /* Couleur de fond des boutons */
  color: white; /* Couleur du texte */
  border-radius: 4px; /* Coins arrondis */
  transition: background-color 0.3s; /* Ajout d'une transition */
}

.pagination button:hover {
  background-color: #4b4b4e; /* Couleur de fond lors du survol */
}

.pagination select {
  margin-left: 10px;
  padding: 3px; /* Réduire le padding du sélecteur */
  font-size: 12px; /* Réduire la taille de la police pour le sélecteur */
  border-radius: 4px; /* Coins arrondis pour le sélecteur */
  border: 1px solid #ccc; /* Bordure du sélecteur */
}
