/* Container global */
.login-container {
  display: flex;
  height: 100vh;
}

/* Section de l'image */
.image-container {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-full {
  object-fit: cover; /* Remplit l'espace sans déformation */
  width: 100%;
  height: 100%;
}

/* Section du formulaire */
.form-container {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  width: 80%; /* Réduisez la largeur du contenu pour plus de symétrie */
  max-width: 400px; /* Limitez la largeur maximale */
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.invalid-feedback {
  display: block;
  color: red;
}
.card-auth {
  min-height: 600px; /* Ajuste cette valeur selon la hauteur souhaitée */
}
