.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    height: 3rem;
    width: 7rem;
  }
  /* Personne.css */
.table-container {
    margin-top: 20px; /* Ajoutez un espacement en haut */
    margin-right: 20px;
  }
  
  .dropdown-basic{
    background-color: white;
  }